
svg {
  transition: transform 0.3s;
}

.selectedCard {
  opacity: 1.0;
}

/* In portrait only one column */
@media screen and (orientation: portrait) {
    .column {
        flex: 100%;
    }
}

.row {
    display: flex;
    flex-wrap: wrap;
    //align-items: center;
    align-content: space-between;
    justify-content: center;
}

.column2 {
  float: left;
  width: 50%;
}

/* Clear floats after the columns */
.row2:after {
  content: "";
  display: table;
  clear: both;
}

.column {
    flex: 50%;
    //padding: 8px;
    align-items: center;
}

.app-header-statusbar {
	font-size: 80%;
	vertical-align: middle;
}

ion-toolbar{
  height:28px;
}

.spades {
    color: blue;
    font-size: 100%;
}

.hearts {
    color: red;
    font-size: 100%;
}

.diamonds {
    color: orange;
    font-size: 100%;
}

.clubs {
    color: #00C000;
    font-size: 100%;
}

.small {
    font-size: 90%;
}